{% extends 'base.html' %}
{% block title %} | Contact Us {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Contact Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Contact <span>Us</span></h1>
            <p>This project is created as a part of DevSecOps Module in Masters in Cloud Computing Course from National College Of Ireland </p>
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-5">
                    <div class="contact-info-2">
                        
                        <div class="ci-box">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <div class="detail">
                                <h5>College:</h5>
                                <p><a href="#">National College Of Ireland</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <div class="detail">
                                <h5>Module</h5>
                                <p><a href="#">DevSecOps</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <div class="detail">
                                <h5>Name:</h5>
                                <p><a href="#">Rishabh Sinha</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <div class="detail">
                                <h5>Student ID:</h5>
                                <p><a href="#">X21171203</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-mail"></i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a href="#">x21171203@student.ncirl.ie</a></p>
                            </div>
                        </div>     
                        
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->



{% endblock %}

