<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">©{% now 'Y' %} <a>National College of Ireland</a>@ X21171203@student.ncirl.ie</p>
                </div>
                <div class="col-lg-4">
                    <div class="">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/rishabh-sinha-00469513a" class="linkedin-bg" target="_blank">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->